{% load static%}
<!doctype html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
   <title>Artwork</title>
   <style>
    .img1 {
       width: 100%;
       max-width: 400px;
       height: auto;
       padding: 0px 0px;
       }
    .img2 {
       width: 100%;
       max-width: 400px;
       height: auto;
       padding: 0px 0px;
       }
    .img3 {
       width: 100%;
       max-width: 400px;
       height: auto;
       padding: 0px 0px;
       }
   </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">

    <title>Hello, World!</title>
  </head>
  <body id="page-top" style="background-color:#65F24E;">
    
   <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" id="mainNav">
     <div class="container">
     <a class="navbar-brand" href="/">SETO.A.P</a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/index/">HOME</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/faq/">FAQ</a>
         </li>
         <li class="nav-item active">
           <a class="nav-link js-scroll-trigger" href="/artwork/">ARTWORK<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/contact/">CONTACT</a>
         </li>
         <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/associates/">ASSOCIATES</a>
        </li>
       </ul>
     </div>
     </dir>
   </nav>
  <br><br><br><br>
  <p align="middle">
   <button type="button" class="btn" data-toggle="modal" data-target="#neonP">
    <img src="{% static "images/neon.jpg" %}" alt="Neon Robot" class="img1">
   </button>
   <button type="button" class="btn" data-toggle="modal" data-target="#benjiP">
    <img src="{% static "images/benji.jpg" %}" alt="Knight" class="img1">
   </button>
   <button type="button" class="btn" data-toggle="modal" data-target="#worldP">
    <img src="{% static "images/o's_world.jpg" %}" alt="Let's play outside!" class="img2">
   </button>
  </p>
  <p align="middle">
   <button type="button" class="btn" data-toggle="modal" data-target="#spadesP">
    <img src="{% static "images/spades.jpg" %}" alt="Protective Robot" class="img1">
   </button>
   <button type="button" class="btn" data-toggle="modal" data-target="#cageP">
    <img src="{% static "images/cage.jpg" %}" alt="Monster" class="img1">
   </button>
   <button type="button" class="btn" data-toggle="modal" data-target="#sandsP">
    <img src="{% static "images/sands.jpg" %}" alt="Robot Friend" class="img3">
   </button>
  </p>
   <div class="modal fade" id="neonP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Neon Robot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <img src="{% static "images/neon.jpg" %}" alt="Neon Robot" align="middle" style="width:100%;max-width:4000px">
        </div>
       </div>
    </div>
  </div>
   <div class="modal fade" id="benjiP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Knight</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <img src="{% static "images/benji.jpg" %}" alt="Knight" align="middle" style="width:100%;max-width:4000px">
        </div>
       </div>
    </div>
  </div>
   <div class="modal fade" id="worldP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Let's Play Outside!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <img src="{% static "images/o's_world.jpg" %}" alt="Let's play outside!" align="middle" style="width:100%;max-width:4000px">
        </div>
       </div>
    </div>
  </div>
   <div class="modal fade" id="spadesP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Protective Robot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <img src="{% static "images/spades.jpg" %}" alt="Protective Robot" align="middle" style="width:100%;max-width:4000px">
        </div>
       </div>
    </div>
  </div>
   <div class="modal fade" id="cageP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Monster</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <img src="{% static "images/cage.jpg" %}" alt="Monster" align="middle" style="width:100%;max-width:4000px">
        </div>
       </div>
    </div>
  </div>
   <div class="modal fade" id="sandsP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Robot Friend</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <img src="{% static "images/sands.jpg" %}" alt="Robot Friend" align="middle" style="width:100%;max-width:4000px">
        </div>
       </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/popper/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
  </body>
</html>