{% load static%}
<!doctype html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
   <title>Homepage</title>
   <style>
  .button {
      border: none;
      color: white;
      text-align: center;
      font-size: 20px;
      cursor: pointer;
      margin-left: 85vw;
      background-color: rgb(11, 167, 11);
     }

  .button:hover {
      background-color: rgb(183, 247, 89);
     }
    .img1 {
       width: 23%;
       height: auto;
    }
    .img2 {
       width: 41%;
       height: auto;
    }
    h1 {
       color: white;
       font-family: verdana;
       text-indent: 3vw;
       }
    .txt {
       margin-left: 3vw;
       margin-right: 3vw;
       color: white;
       font-family: verdana;
       }
    .block {
      background-color: #52C73F;
      width: 40vw;
      padding: 1px;
      margin: 1vw;
      }
   </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">

    <title>Hello, World!</title>
  </head>
  <body id="page-top" style="background-color:#65F24E;">
    
   <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" id="mainNav">
     <div class="container">
     <a class="navbar-brand" href="/">SETO.A.P</a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/index/">HOME<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/faq/">FAQ</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/artwork/">ARTWORK</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/contact/">CONTACT</a>
         </li>
        <li class="nav-item active">
         <a class="nav-link js-scroll-trigger" href="/associates/">ASSOCIATES</a>
         </li>
       </ul>
     </div>
     </dir>
   </nav>
  <br><br><br>
  <p>
   <button data-toggle="modal" data-target="#submit" class="button">
    Add Friend
   </button>
  </p>
   <div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Friend</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method='POST'>
           {% csrf_token %}
     		<div class="form-group">
	    		<label for="nama">Enter Name</label>
		    	<input type="text" class="form-control" name="nama" id="nama" placeholder="Name" oninvalid="this.setCustomValidity('Please Insert Name')"
          oninput="setCustomValidity('')" required>
        </div>
        <div class="form-group">
	    		<label for="hobby">Enter Hobby</label>
		    	<input type="text" class="form-control" name="hobby" id="hobby" placeholder="Hobby" oninvalid="this.setCustomValidity('Please Insert Hobby')"
          oninput="setCustomValidity('')" required>
        </div>
        <div class="form-group">
	    		<label for="food">Enter Favourite Food/Drink</label>
		    	<input type="text" class="form-control" name="food" id="food" placeholder="Food/Drink" oninvalid="this.setCustomValidity('Please Insert Food/Drink')"
          oninput="setCustomValidity('')" required>
	    	</div>
		    <div class="form-group">
    			<label for="tahun">Select Year</label>
    			<select class="form-control" name="tahun" id="tahun" oninvalid="this.setCustomValidity('Please Select Year')"
          oninput="setCustomValidity('')" required>
        <option value="" disabled selected>Select year</option>
				<option value="2001">2001</option>
				<option value="2002">2002</option>
				<option value="2003">2003</option>
				<option value="2004">2004</option>
				<option value="2005">2005</option>
				<option value="2006">2006</option>
				<option value="2007">2007</option>
				<option value="2008">2008</option>
				<option value="2009">2009</option>
				<option value="2010">2010</option>
				<option value="2011">2011</option>
				<option value="2012">2012</option>
				<option value="2013">2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				<option value="2016">2016</option>
				<option value="2017">2017</option>
				<option value="2018">2018</option>
				<option value="2019">2019</option>
				<option value="2020">2020</option>
    			</select>
		</div>
		<button type="Submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
       </div>
    </div>
  </div>
    {% block contents %}
      {% for post in posts %}
      <div class="block">
        <h1 style="font-size:3vw;">{{post.nama}}</h1>
        <p class="txt" style="font-size:1.5vw;">hobby&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: {{post.hobby}}</p>
        <p class="txt" style="font-size:1.5vw;">favourite food/drink: {{post.food}}</p>
        <p class="txt" style="font-size:1.5vw;">class year&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: {{post.tahun}}</p>
      </div>
      {% endfor %}
    {% endblock contents %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/popper/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
  </body>
</html>