{% load static%}
<!doctype html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
   <title>Contact</title>
   <style>
    img {
       width: 50%;
       max-width: 500px;
       height: auto;
       }
    h1 {
       color: white;
       font-family: verdana;
       text-indent: 100px;
       }
    .txt {
       margin-left: 6vw;
       margin-right: 50vw;
       color: white;
       font-family: verdana;
       }
    .txt2 {
       margin-left: 6vw;
       margin-right: 50vw;
       color: white;
       font-family: verdana;
       background-color: #87FF73;
       }
   </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">

    <title>Hello, World!</title>
  </head>
  <body id="page-top" style="background-color:#65F24E;">
    
   <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" id="mainNav">
     <div class="container">
     <a class="navbar-brand" href="/">SETO.A.P</a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/index/">HOME</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/faq/">FAQ</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/artwork/">ARTWORK</a>
         </li>
         <li class="nav-item active">
           <a class="nav-link js-scroll-trigger" href="/contact/">CONTACT<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/associates/">ASSOCIATES</a>
        </li>
       </ul>
     </div>
     </dir>
   </nav>
  <br><br><br><br>
  <p style="font-size:35px;" class="txt">
   <b>LINE:</b>
  </p>
  <p><img src="{% static "images/phone.png" %}" align="right" alt="phone" width="500" height="500"></p>
  <p style="font-size:25px;" class="txt2">seto21122001</p>
  <p style="font-size:35px;" class="txt">
   <b>PHONE:</b>
  </p>
  <p style="font-size:25px;" class="txt2">085776471717</p>
  <p style="font-size:35px;" class="txt">
   <b>WHATSAPP:</b>
  </p>
  <p style="font-size:25px;" class="txt2">+6285776471717</p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/popper/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
  </body>
</html>