{% load static%}
<!doctype html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
   <title>Homepage</title>
   <style>
    .img1 {
       width: 23%;
       height: auto;
    }
    .img2 {
       width: 41%;
       height: auto;
    }
    h1 {
       color: white;
       font-family: verdana;
       text-indent: 5vw;
       }
    .txt {
       margin-left: 5vw;
       margin-right: 5vw;
       color: white;
       font-family: verdana;
       background-color: #52C73F;
       }
       .bullet {
       height: 20px;
       width: auto;
       }
   </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">

    <title>Hello, World!</title>
  </head>
  <body id="page-top" style="background-color:#65F24E;">
    
   <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" id="mainNav">
     <div class="container">
     <a class="navbar-brand" href="/">SETO.A.P</a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item active">
           <a class="nav-link js-scroll-trigger" href="/index/">HOME<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/faq/">FAQ</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/artwork/">ARTWORK</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="/contact/">CONTACT</a>
         </li>
         <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/associates/">ASSOCIATES</a>
        </li>
       </ul>
     </div>
     </dir>
   </nav>
  <br><br>
  <h1 style="font-size:10vw;">MY BIO</h1>
  <p id="p01" style="text-align:center;">
   <img src="{% static "images/me3.jpg" %}" alt="Me1" height="350" class="img1">
   <img src="{% static "images/me1.jpg" %}" alt="Me2" height="350" class="img2">
   <img src="{% static "images/me2.jpg" %}" alt="Me3" height="350" class="img1">
  </p>
  <p style="font-size:25px;" class="txt">
   <b>Seto Adhi Prasetyo---NPM: 1906426960---Generation: MAUNG</b>
  </p>
  <p style="font-size:25px;" class="txt">Hello! My name is Seto Adhi Prasetyo, I'm from Central Jakarta. Born on 21st of December 2001. My hobbies are drawing and playing games. I aspire to be a programmer so that I can make my own video game someday, it's the reason I chose Computer Science as my major in UI. In UI, my NPM is 1906426960 and I'm in the MAUNG generation!</p>
  <p style="font-size:25px;" class="txt">
    <b>EDUCATION:</b><br>
    <img src="{% static "images/cap.png" %}" alt="cap" class="bullet">Went to SDN Menteng 01.<br>
    <img src="{% static "images/cap.png" %}" alt="cap" class="bullet">Went to SMPN 216 Jakarta (for half a semester).<br>
    <img src="{% static "images/cap.png" %}" alt="cap" class="bullet">Went to SMPN 115 Jakarta.<br>
    <img src="{% static "images/cap.png" %}" alt="cap" class="bullet">Went to SMAN 8 Jakarta.<br>
    <img src="{% static "images/tock.png" %}" alt="current" class="bullet">  Currently in Indonesia University.
   </p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/popper/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
  </body>
</html>