{% load static%}
<!DOCTYPE html>
<html>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <head>
  <title>Welcome!</title>
  <style>
   h1 {
      color: white;
      font-family: verdana;
      text-indent: 150px;
      line-height: 60%;
      text-shadow: 6px 6px 10px #000000;
      }
  body {
      background-image: url("{% static "images/oliver2.jpg" %}");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
  .button {
      border: none;
      color: white;
      padding: 30px 50px;
      text-align: center;
      font-size: 25px;
      cursor: pointer;
      margin-left: 150px;
      background-color: #004C00;
      animation: mymove 5s infinite;
     }

  .button:hover {
      background-color: #8DE800;
     }
  @keyframes mymove {
      50% {font-size: 15px;}
     }
  </style>
 </head>
 <body>
  <br><br><br>
  <h1 style="font-size:80px;">SETO</h1>
  <h1 style="font-size:80px;">ADHI</h1>
  <h1 style="font-size:80px;">PRASETYO'S</h1>
  <h1 style="font-size:80px;">BLOG</h1>
  <button onclick="window.location.href = '/index/';" class="button">ENTER</button>